@import "default";

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 2000px;
}

body {
  background-color: #ebf6fb;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.exchangeRates {
  width: 470px;
  
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  &__title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }
  
  &__content {
    background-color: #FFFFFF;
  }
  
  .ratesContent {
    padding: 5px;
    
    &__id {
      display: none;
    }
    
    &__line {
      display: flex;
      gap: 20px;
      padding-bottom: 5px;
      padding-top: 5px;
      cursor: pointer;
      position: relative;
    }
    
    &__line_dark {
      background-color: whitesmoke;
    }
    
    &__abbr {
      width: 100px;
    }
    
    &__scale {
      width: 70px;
    }
    
    &__name {
      width: 180px;
    }
    
    &__rate {
      width: 60px;
    }
  }
  
  .ratesTitle {
    display: flex;
    gap: 20px;
    
    &__abbr {
      width: 100px;
    }
    
    &__scale {
      width: 70px;
    }
    
    &__name {
      width: 180px;
    }
    
    &__rate {
      width: 60px;
    }
  }

  .currencyDynamics {
    position: absolute;
    background-color: #FFFFFF;
    z-index: 99999;
    padding: 10px;
    box-shadow: 2px 2px 4px #888888;
    
    &__line {
      display: flex;
      gap: 20px;
    }
    
    &__line_dark {
      background-color: whitesmoke;
    }
  }
}

